/* Comic Sans MS font import */
@import url("https://fonts.cdnfonts.com/css/comic-sans");

/* Define a font-face fallback if needed */
@font-face {
  font-family: "Comic Sans MS";
  src: local("Comic Sans MS"),
    url("https://fonts.cdnfonts.com/css/comic-sans") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
