@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .el-focus-styles {
    @apply ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  ::selection {
    @apply bg-ring text-white;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
